<div class="card">
  <div class="card-img-actions mx-1 mt-1">
    <img class="card-img" src="https://demo.interface.club/limitless/demo/template/assets/images/demo/flat/1.png" alt="" height="200px">
  </div>

  <div class="card-body">
    <div class="d-flex align-items-start mb-3">
      <div class="status-indicator-container me-3">
        <img
          src="/assets/face25.jpg"
          class="rounded-circle"
          width="40"
          jeight="40"
          alt=""
        >
        <span class="status-indicator bg-success"></span>
      </div>

      <div class="flex-fill">
        <div class="d-flex justify-content-between">
          <a href="#">Eugene Smith</a>
          <span class="fs-sm text-muted">14:58</span>
        </div>
        Delivered is to ye belonging enjoyment preferred. Astonished and
        acceptance men...
      </div>
    </div>

    <div class="d-flex align-items-start mb-3">
      <div class="status-indicator-container me-3">
        <img
          src="/assets/face3.jpg"
          class="rounded-circle"
          width="40"
          jeight="40"
          alt=""
        >
        <span class="status-indicator bg-success"></span>
      </div>

      <div class="flex-fill">
        <div class="d-flex justify-content-between">
          <a href="#">Amanda Baker</a>
          <span class="fs-sm text-muted">12:16</span>
        </div>
        Delivered is to ye belonging enjoyment preferred. Astonished and
        acceptance men...
      </div>
    </div>

    <textarea
      name="enter-message"
      class="form-control mb-3"
      rows="2"
      cols="1"
      placeholder="Add comment"
    ></textarea>

    <div class="d-flex align-items-center">
      <div>
        <a
          href="#"
          class="
            btn
            btn-light
            btn-icon
            border-transparent
            rounded-pill
            btn-sm
            me-1
          "
          data-bs-popup="tooltip"
          aria-label="Formatting"
          data-bs-original-title="Formatting"
        >
          <i class="ph-text-aa"></i>
        </a>
        <a
          href="#"
          class="
            btn
            btn-light
            btn-icon
            border-transparent
            rounded-pill
            btn-sm
            me-1
          "
          data-bs-popup="tooltip"
          aria-label="Emoji"
          data-bs-original-title="Emoji"
        >
          <i class="ph-smiley"></i>
        </a>
        <a
          href="#"
          class="
            btn
            btn-light
            btn-icon
            border-transparent
            rounded-pill
            btn-sm
            me-1
          "
          data-bs-popup="tooltip"
          aria-label="Send file"
          data-bs-original-title="Send file"
        >
          <i class="ph-paperclip"></i>
        </a>
      </div>

      <button type="button" class="btn btn-primary ms-auto">
        Submit
        <i class="ph-paper-plane-tilt ms-2"></i>
      </button>
    </div>
  </div>
</div>
