<div class="card">
								<div class="card-header">
									<h6 class="mb-0">Chatting with James</h6>
								</div>

								<div class="card-body">
									<div class="media-chat-scrollable mb-3">
										<div class="media-chat vstack gap-3">
											<div class="media-chat-item hstack align-items-start gap-3">
												<a href="#" class="d-block status-indicator-container">
													<img src="/assets/face11.jpg" class="w-40px h-40px rounded-pill" alt="">
													<span class="status-indicator bg-success"></span>
												</a>

												<div>
													<div class="media-chat-message">Tolerantly some understood this stubbornly after snarlingly</div>
													<div class="fs-sm text-muted mt-2">Wed, 4:20 pm</div>
												</div>
											</div>

											<div class="media-chat-item media-chat-item-reverse hstack align-items-start gap-3">
												<a href="#" class="d-block status-indicator-container">
													<img src="/assets/face1.jpg" class="w-40px h-40px rounded-pill" alt="">
													<span class="status-indicator bg-success"></span>
												</a>

												<div>
													<div class="media-chat-message">Satisfactorily strenuously while sleazily dear</div>
													<div class="fs-sm text-muted mt-2">
														<i class="ph-checks text-primary me-1"></i>
														2 hours ago
													</div>
												</div>
											</div>

											<div class="media-chat-item hstack align-items-start gap-3">
												<a href="#" class="d-block status-indicator-container">
													<img src="/assets/face11.jpg" class="w-40px h-40px rounded-pill" alt="">
													<span class="status-indicator bg-success"></span>
												</a>

												<div class="align-self-center">
													<span class="fw-semibold">Victoria</span> is typing
													<div class="typing-indicator">
														<span></span>
														<span></span>
														<span></span>
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="form-control form-control-content mb-3" contenteditable="" data-placeholder="Type message here and hit enter..."></div>

									<div class="d-flex align-items-center">
										<div>
								            <a href="#" class="btn btn-light btn-icon border-transparent rounded-pill btn-sm me-1" data-bs-popup="tooltip" aria-label="Formatting" data-bs-original-title="Formatting">
								            	<i class="ph-text-aa"></i>
								            </a>
								        	<a href="#" class="btn btn-light btn-icon border-transparent rounded-pill btn-sm me-1" data-bs-popup="tooltip" aria-label="Emoji" data-bs-original-title="Emoji">
								        		<i class="ph-smiley"></i>
								        	</a>
								            <a href="#" class="btn btn-light btn-icon border-transparent rounded-pill btn-sm me-1" data-bs-popup="tooltip" aria-label="Send file" data-bs-original-title="Send file">
								            	<i class="ph-paperclip"></i>
								            </a>
								        </div>

										<button type="button" class="btn btn-primary ms-auto">
											Send
											<i class="ph-paper-plane-tilt ms-2"></i>
										</button>
									</div>
								</div>
							</div>