
<div
  class="page-header text-center "
  style="display:block; padding-bottom:1em;background-color:#fff; margin-top:-20px; padding-top:0px;"
>
  <hr/>
  <div class='row'>
    <div class='col-lg-12'>
      <a href="" class="nav-item">
        נסלקו היום
      </a>
         &nbsp; &nbsp;
      <a href="" class="nav-item">
        לקוחות ללא מיפוי
      </a>
      &nbsp; &nbsp;
      <a href="/home/index?v=mail">
        דיוור ישיר
      </a>
      &nbsp; &nbsp;
      <a href="/home/index?v=social">
        רשתות חברתיות
      </a>
      &nbsp; &nbsp;
      <a href="/home/index?v=1">
        סוכנים
      </a>
    </div>
  </div>

</div>

<style>
  .page-header-default {
      background-color: #fff;
      margin-bottom: 20px;
      -webkit-box-shadow: 0 1px 0 0 #ddd;
      box-shadow: 0 1px 0 0 #ddd;
  }

  .page-header {
      margin: 0;
      padding: 0;
      border-bottom-width: 0;
  }
</style>