<!-- Main sidebar -->
<div class="sidebar sidebar-main sidebar-expand-lg align-self-start">
  <!-- Sidebar content -->
  <div class="sidebar-content">
    <!-- Sidebar header -->
    <div class="sidebar-section">
      <div class="sidebar-section-body d-flex justify-content-center">
        <h5 class="sidebar-resize-hide flex-grow-1 my-auto">Navigation</h5>

        <div>
          <button
            type="button"
            class="
              btn
              btn-light
              btn-icon
              btn-sm
              rounded-pill
              border-transparent
              sidebar-control
              sidebar-main-resize
              d-none
              d-lg-inline-flex
            "
          >
            <i class="ph-arrows-left-right"></i>
          </button>

          <button
            type="button"
            class="
              btn
              btn-light
              btn-icon
              btn-sm
              rounded-pill
              border-transparent
              sidebar-mobile-main-toggle
              d-lg-none
            "
          >
            <i class="ph-x"></i>
          </button>
        </div>
      </div>
    </div>
    <!-- /sidebar header --> <!-- Main navigation -->
    <div class="sidebar-section">
      <ul class="nav nav-sidebar" data-nav-type="accordion">
        <!-- Main -->
        <li class="nav-item-header pt-0">
          <div class="text-uppercase fs-sm lh-sm opacity-50 sidebar-resize-hide">Admin</div>
          <i class="ph-dots-three sidebar-resize-show"></i>
        </li>
        <li class="nav-item">
          <a href="/feed/home" class="nav-link">
            <i class="fa-solid fa-house-chimney"></i>
            &nbsp;
            <span>Feed </span>
          </a>
        </li>
        <li class="nav-item">
          <a href="/feed/news" class="nav-link">
           <i class="fa-regular fa-newspaper"></i>
            &nbsp;
            <span>News</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="/feed/customers" class="nav-link">
            <i class="fas fa-users"></i>
            &nbsp;
            <span>Customers</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="/feed/messages" class="nav-link">
            <i class="fas fa-envelope"></i>
            &nbsp;
            <span>Messages</span>
          </a>
        </li>
        
        <li class="nav-item">
          <a href="/feed/tickets" class="nav-link">
            <i class="fas fa-calendar-check"></i>
            &nbsp;
            <span>Tickets</span>
          </a>
        </li>
        
        
        <!-- Main -->
        <li class="nav-item-header pt-0">
          <div class="text-uppercase fs-sm lh-sm opacity-50 sidebar-resize-hide">Groups</div>
          <i class="ph-dots-three sidebar-resize-show"></i>
        </li>
        <li class="nav-item">
          <a href="/feed/group" class="nav-link">
            <i class="fas fa-user-graduate"></i>
                      &nbsp;
            <span>Public</span>
          </a>
        </li> 
        <li class="nav-item">
          <a href="/feed/courses" class="nav-link">
            <i class="fas fa-user-graduate"></i>
                      &nbsp;
            <span>Trading 101</span>
          </a>
        </li> 
        <li class="nav-item-header pt-0">
          <div class="text-uppercase fs-sm lh-sm opacity-50 sidebar-resize-hide">Tools</div>
          <i class="ph-dots-three sidebar-resize-show"></i>
        </li>
      
        <li class="nav-item">
          <a href="/feed/screeners" class="nav-link">
           <i class="fas fa-broadcast-tower "></i>
                      &nbsp;
            <span>Screeners</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="/feed/robots" class="nav-link">
           <i class="fas fa-robot "></i>
                      &nbsp;
            <span>Robots</span>
          </a>
        </li>


      </ul>
    </div>

    <!-- /main navigation -->
  </div>

  <!-- /sidebar content -->
</div>
<!-- /main sidebar -->
